* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
input,
textarea,
button {
  font-family: inherit;
}
ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}
a {
  text-decoration: none;
}

:root {
  --black: #252a31;
  --blue: #006cff;
  --violet: #b678ff;
  --white: #ffffff;
  --yellow: #ffe761;
  --red: #f45e6d;
  --green: #61dea4;
  --light-grey: #ebeff5;
}
body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: grey;
  font-size: 18px;
}
.app {
  position: absolute;
  min-width: 375px;
  height: 100vh;
  background-color: var(--white);
  padding-top: 60px;
  padding-left: 18px;
}
.header__title {
  margin-bottom: 34px;
}
.app-header {
  display: flex;
  justify-content: space-between;
  padding-right: 18px;
}

li.list__item {
  display: flex;
  /* flex-direction: row; */
  justify-content: space-between;
  align-items: center;
  margin: 1 1 auto;
}
.checkbox {
  display: inline-flex;
  border: 2px solid #dadada;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  justify-content: center;
  align-items: center;
}
.checkbox__input {
  opacity: 0;
  position: absolute;
}
.checkbox__symbol {
  display: none;
}
.checkbox__input:checked + .checkbox__symbol {
  display: block;
}
.circle {
  width: 12px;
  height: 12px;
  border-radius: 50%;
  margin: 0 12px 12px 12px;
  background-color: var(--violet);
}
.inbox {
  background-color: var(--light-grey);
}
.work {
  background-color: var(--green);
}
.shopping {
  background-color: var(--red);
}
.family {
  background-color: var(--yellow);
}
.personal {
  background-color: var(--violet);
}
.list__text {
  display: flex;
  padding-top: 18px;
  border-bottom: 2px solid rgba(37, 42, 49, 0.3);
}
textarea {
  border: none;
  margin-right: 30px;
}
.tasks__items {
  margin: 8px auto;
}
.tasks__span {
  color: rgba(37, 42, 49, 0.5);
  margin: 32px 0 15px 0;
}
.tasks {
  height: 69px;
  width: 301px;
  border-radius: 10px;
  margin-bottom: 8px;
  padding-top: 12px;
  padding-left: 40px;
  color: var(--white);
}
#inbox a,
#family a {
  color: var(--black);
}
#work a,
#shopping a,
#personal a {
  color: var(--white);
}
.dark {
  color: rgba(37, 42, 49, 0.5);
  font-size: 14px;
}
.light {
  color: rgba(255, 255, 255, 0.5);
  font-size: 14px;
}
.btn__plus {
  position: absolute;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  bottom: 30px;
  right: 20px;
  width: 64px;
  height: 64px;
  bottom: 44px;
  border-radius: 50%;
  border-color: transparent;
  background-color: var(--white);
}
.btn__symbol {
  font-size: 30px;
  color: var(--blue);
}
